.button {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.button-primary {

    background: linear-gradient(var(--primary-500), var(--secondary-500));
    border: 1px solid var(--primary-500);
    font-weight: bold;
    color: var(--tertiary-300);
}

.button-unselected {
    background: var(#FFF);
    border: 1px solid var(--primary-500);
    font-weight: bold;
    color: var(--primary-500);
}

.button:hover {
    border: 1px solid var(--secondary-300);
}

.button-primary:hover {
    border: 1px solid var(--secondary-300);
}