
.navBar {
    background-color: var(--gray-900);
    padding-top: 5px;
    padding-bottom: 5px;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h5.logo {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--tertiary-500);
    max-width: 120px;
    margin: auto 0 auto 0;
}

.nav-link-collection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.nav-link-collection svg {
     fill: var(--tertiary-500);
     height: 32pt;
 }
