.job-card {
    cursor: pointer;
}

.job-card:hover {
    border: 1px solid var(--primary-500);
}

.selected {
    background-color: var(--tertiary-300);
}

.hourglass-svg, .history-svg {
    height: 16pt;
    fill: var(--gray-500);
    padding-right: .25em;
}