.post-details-section {
    /*width: 100%;*/
    min-width: 50%;
}

.post-details-card {
    width: 100%;
    padding: 10px 0px 0px 20px;
}

@media only screen and (min-width: 600px) {
    .close-svg {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .close-svg {
        height: 24pt;
        fill: var(--primary-700);
        float: right;
        cursor: pointer;
    }
}