:root {
  --primary-300: #448387;
  --primary-500: #387478;
  --primary-700: #30676B;
  --secondary-300: #7BB09E;
  --secondary-500: #629584;
  --secondary-700: #578575;
  --tertiary-300: #F0FAF3;
  --tertiary-500: #E2F1E7;
  --tertiary-700: #C3D9CA;
  --gray-900: #243642;
  --gray-700: #4E6B6D;
  --gray-500: #87A0A3;
  --gray-300: #C2D7DA;
  --gray-100: #EDF3F5;
  --success: #578575;
  --warning: #EDDB3C;
  --danger: #DF6453;
}

body {
  background-color: var(--gray-100);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--gray-700);
}

p, li, span, button {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-500);
}

.card {
  border: 1px solid transparent;
}